.button__list {
    display: flex;
    gap: 10px;
    background-color: #FFA500;
}

.button__list button {
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #FFF5EE;
    font-weight: 600;
    font-size: large;
}